{% extends 'layout.html' %}

{% block body %}
  <div class="row">
    <div class="col">
      <a href="{% url 'todos:new' %}" class="btn btn-outline-success float-right">新增</a>
      <h1>TODO List</h1>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">標題</th>
            <th scope="col">狀態</th>
            <th scope="col">連結</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
            <tr>
              <th scope="row">{{ todo.pk }}</th>
              <td>{{ todo.title }}</td>
              <td>{{ todo.finish | yesno:'已完成,未完成' }}</td>
              <td><a href="{% url 'todos:show' todo.pk %}">檢視</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
