{% extends 'layout.html' %}

{% block body %}
  <div class="row">
    <div class="col">
      <a class="btn" href="{% url 'todos:index'%}">＜ 返回</a>
      <div class="card mt-3">
        <div class="card-body">
          <h1 class="card-title">#{{ todo.pk }} {{ todo.title }}</h1>
          <h6 class="card-subtitle mb-2 text-muted">{{ todo.finish | yesno:'已完成,未完成' }}</h6>
          <hr>
          <p class="card-text">
            {{ todo.content | linebreaks }}
          </p>
          <p class="text-right">
            建立時間：{{ todo.created_at }}<br>
            最後更新時間：{{ todo.updated_at }}
          </p>
          <hr>
          <a href="{% url 'todos:edit' todo.pk %}" class="card-link text-info">編輯</a>
          <a href="{% url 'todos:delete' todo.pk %}" class="card-link text-danger">刪除</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
