{% load bootstrap4 %}
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-outline-info float-right">
      送出
    </button>
  {% endbuttons %}
</form>
